/* style */

/* header / nav bar style start*/
header {
  padding: 50px 35px;
  background-color: light grey;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

}
 /* Applies 20px to every side (top, right, bottom, left) */

  header h1 {
    font-weight: bold;
    margin: 20px;
    font-size:60px;
    color: #lightyellow;
  }

  header a {
    text-decoration: none;
    color: #blue;
  }
   
  img  {
    margin: 7px 0;
  
}
 
  
  
/* header / navbar styles end */

/* footer style start  */
  
 footer{
   background: #blue;
   padding: 40px 35px;
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   width: 100%
 }
   
  footer div {
    line-height: 1.5;
    text-align: center;
    
  }

/*end of footer style*/

/*style all tags*/

  section {
    padding: 60px;

  }

  /*All About Me style start*/

 .All About Me {
   
   background-size:center;
   background-position: center;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   align-items: flex-start;

 } 

.All About Me{
  width:20%;
  text-align: right;
  margin: 2%;
  font-size: 55px;
  line-height: 1.2;

}

.hero-cta h2 {
  font-style: italic;
  font-size: 55px;
  color: #lightyellow;

}

All About Me-form {
  border: 3px solid #lightyellow;
  background: color #lightgrey;
  padding: 20px;
  color: #lightgrey;
  width: 40%;
  margin: 3.5;
}

.form-input {
  border: 1px solid #blue;
  display: block;
  padding: 7px 15 px;
  font-size: 16 px;
  color: #024e76;
  width: 25%;
  margin-bottom: 15px;

}

.hero-form label {
  margin: 0 5px;

}


/* All About Me style end */
  


/* Projects title style */

.Project-title {
  font-size: 55px;
  border-bottom: 3px solid;
  padding-bottom: 20px;
  margin: 0 auto 35px auto;
  width: 50%;

}

.primary-border {
  border-color: #lightblue;

}


/* Projects title style end */



/* What I am Doing Now */

.intro p {
  line-height: 1.7;
  color: #lightgrey;
  width: 80%;
  margin: 0 auto;
  font-size: 20px;
  text-align: center;

}

/* What I am doing Now style end */



/*Contact Information style*/

.contact {
  background: #lightyellow;
  font-size: 20px;

}


.contact-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

}

.contact-info iframe {
  height: 400px;

}

.contact-info div {
  color: white;
  
}



/* reach out style end */


 
.text-left{
  text-align: center;

}

.test-align right {
  text-align: center;

}

.flex-row {
  display: flex;

}




/* end */
