/* style */
.header{
  padding: 25px 35px;
  background-color: #39a6b2
    
}
header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #fce138;
    margin: 0;
    display: inline;
}
header a {
    color: #fce138;
}
header a{
    text-decoration: none;
    color: #fce138;
}
header nav{
    float: right;
    margin: 7px 0;
}
header nav ul li{
    display:inline;
}
header nav ul li a{
    margin: 0 25px;
    font-weight: lighter;
    font-size: 22px;
}

.body {
  font-family:'Times New Roman', Times, serif;
  border: 15px solid;
  padding: 50px;
  margin: 20px;
  background-color:#A0CEE9;
} 

   
   
.img1{
    justify-items:top;  
    align-items:left;
    border-radius: 50%;
  
}

.img2 {
    flex-shrink:60%;
    border-radius: 50%;    
}

/*All About Me style start*/

 .AllAboutMe {
   background-color:#fff;
   background-size: center;
   background-position: center;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   align-items: flex-start;

 } 

.MyFamily{
  width:20%;
  text-align:center;
  margin: 3.5%;
  color: #fff;
  font-size:15px;
  line-height: 1.2;
} 

.MyProjects {
  border: 1px solid #025176;
  display: flex;
  padding: 7px 15px;
  font-size: 16px;
  color:#fff ;
  width: 100%;
  margin-bottom: 15px;
}

.MyResume {
  border: 1px solid #025176;
  display: flex;
  padding: 7px 15px;
  font-size: 16px;
  color:#fff ;
  width: 100%;
  margin-bottom: 15px;
}
 
/* All About Me style end */
   
  

/* Contact Info */

  
:hover {
  background-color:#fce138;
}

.contact {
  background: #024e76;

}

.contact h2 {
  color: #fce138

}

.contact-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

}

.contact-info >  {
  flex:1;
  margin: 15px;

}

.contact-info iframe {
  height: 400px;

}

.contact-info div {
  color: #fff;
  
}

.contact info h3 {
  color: #fce138;
  font-size: 40px;
  
}


.contact-info p .contact address {
  margin: 20px 0;
  line-height: 1.5;
  font-size: 40px;
  font-style: normal;

}

.contact-form input  .contact-form textarea {
  border: 1px solid #024e76;
  display: block;
  padding: 7px 15px;
  font-size: 16px;
  color: #024e76;
  width:100%;
  margin-bottom: 15px;
  margin-top: 5px;

}

.contact-form button {
  width: 100%;
  border:none;
  background: #fce138;
  color: #024e76;
  text-align: center;
  font-size: 16px;

}

.contact-info a {
  color: #fce138;

}

/* reach out style end */






/* end */
