/* style */
body {
  font-family:#TimesNewRoman;
  border: 15px solid;
  padding: 50px;
  margin: 20px;
  background-color:#A0CEE9;
  
  
  
  .header name {
    text-decoration: none;
    flex-start:top;
    color:#black;
    font-size:20px;
    font-family:#TimesNewRoman;
}
   
  .img1{
    jutify-content:50%;  
    align-item:right;
   
}

 .img2 {
    flex-shrink:60%;
    
}

/*All About Me style start*/

 .All About Me {
   background-color:#grey;
   background-size: center;
   background-position: center;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   align-items: flex-start;

 } 

.All About Me{
  width:20%;
  text-align:center;
  margin: 3.5%;
  color: #fff;
  font-size:15px;
  line-height: 1.2;

  .All About Me-family {
  font-size: 15px;
  margin: 0;}
  
  All About Me-form {
  border: 3px solid #765102;
  background: color #fff;
  padding: 20px;
  color: #0fff;
  width: 40%;
  margin: 3.5;
}
  
  section {
    padding: 20px;

  }

.form-input {
  border: 1px solid #766102;
  display: block;
  padding: 7px 15px;
  font-size: 16px;
  color: #024e76;
  width: 100%;
  margin-bottom: 15px;

}

.hero-form label {
  margin: 0 5px;

}

.All ABout Me-form button {
  color:#fce138;
  background-color: #fff;
  padding-bottom: 20px;
  margin: 0 auto 20px auto;
  width: 50%;

}

/* All About Me style end */
    /* footer style start  */
  
 footer{
   background: #024e76;
   padding: 20px 20px;
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   width: 100%
 }
  footer h2 {
    color: #024e76;
    font-size: 30px;
    margin: 0;

  }

  footer div {
    line-height: 1.5;
    text-align: right;
    
  }

/*end of footer style*/

/*style all tags*/

  




/* Contact Info */

  
  a:hover {
  background-color: yellow;
}
  
  .intro p {
  line-height: 1.7;
  color: #39a6b2;
  width: 80%;
  margin: 0 auto;
  font-size: 20px;
  text-align: center;

}


.contact {
  background: #024e76;

}

.contact h2 {
  color: #fce138

}

.contact-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

}

.contact-info > * {
  flex:1;
  margin: 15px;

}

.contact-info iframe {
  height: 400px;

}

.contact-info div {
  color: #white;
  
}

.contact info h3 {
  color: #fce138;
  font-size: 32px;
  
}


.contact-info p .contact address {
  margin: 20px 0;
  line-height: 1.5;
  font-size: 16px;
  font-style: normal;

}

.contact-form input  .contact-form textarea {
  border: 1px solid #024e76;
  display: block;
  padding: 7px 15px;
  font-size: 16px;
  color: #024e76;
  width:100%;
  margin-bottom: 15px;
  margin-top: 5px;

}

.contact-form button {
  width: 100%;
  border:none;
  background: #fce138;
  color: #024e76;
  text-align: center;
  font-size: 16px;

}

.contact-info a {
  color: #fce138;

}

/* reach out style end */






/* end */
